body{
    background-color: rgb(243, 243, 243);
}
h1{
    text-align: center;
}
#avisContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

/* Page donne ton avis */

.avisPageDTA{
    border: 1px black solid;
    display: flex;
    align-items: center;
}
#trucContainerDTA{
    display: flex;
}
#trucContainerDTA > img{
    height: 250px;
}